body {
    margin: 0;
    background-color: #1B244A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: #EEEEEE;
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 150px; /* adds space between home and guest boxes */
    text-align: center;
    margin-top: 50px;
}

.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    width: 200px;
    height: 150px;
    background-color: #080001;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', Arial;
    font-size: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-score {
    font-family: 'Cursed Timer ULiL', Arial;
    font-size: 24px;
    width: 60px;
    height: 60px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-score:hover {
    color: white;
    border: 2px solid white;
}
